<link rel="apple-touch-icon" sizes="180x180" href="{{/assets/icons/apple-touch-icon.png | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{/assets/icons/favicon-32x32.png | absolute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{/assets/icons/favicon-16x16.png | absolute_url }}">
<link rel="manifest" href="{{/assets/icons/site.webmanifest | absolute_url }}">
<link rel="mask-icon" href="{{/assets/icons/safari-pinned-tab.svg | absolute_url}}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
