<link rel="apple-touch-icon" sizes="180x180" href="/PINO_Applications/assets/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/PINO_Applications/assets/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/PINO_Applications/assets/icons/favicon-16x16.png">
<link rel="manifest" href="/PINO_Applications/assets/icons/site.webmanifest">
<link rel="mask-icon" color="#5bbad5" href="/PINO_Applications/assets/icons/safari-pinned-tab.svg">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<link rel="shortcut icon" type="image/x-icon" href="/PINO_Applications/assets/icons/favicon.ico">
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$$','$$'], ["\\(","\\)"], ['$','$'] ],
      displayMath: [ ['$$','$$'], ["\\(","\\)"] ],
    },
    TeX: {
      Macros: {
        bra: ["\\langle{#1}|", 1],
        ket: ["|{#1}\\rangle", 1],
        braket: ["\\langle{#1}\\rangle", 1],
        bk: ["\\langle{#1}|{#2}|{#3}\\rangle", 3]
     }
   }
  });
</script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML' async></script>
